<!DOCTYPE html>
<html>
<head>
    <title>All Products</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <h2>ShopEZ</h2>
    <input type="text" placeholder="Search...................." />
    <button>Login</button>
    <a href="/cart">🛒 Cart</a>
    <a href="/register">Register</a>
</div>

<div class="container">

    <!-- Sidebar Filters -->
    <div class="sidebar">
        <h3>Filters</h3>

        <p><b>Sort By</b></p>
        <label><input type="radio"> Popular</label><br>
        <label><input type="radio"> Price (low to high)</label><br>
        <label><input type="radio"> Price (high to low)</label><br>

        <p><b>Category</b></p>
        <label><input type="checkbox"> Mobiles</label><br>
        <label><input type="checkbox"> Electronics</label><br>
        <label><input type="checkbox"> Sports</label><br>
        <label><input type="checkbox"> Fashion</label><br>

    </div>

    <!-- Products -->
    <div class="product-section">
        <h2>All Products</h2>

    
    <div class="products-grid">
        <div class="product-card">

    <img src="apple ph.png" alt="iPhone" />

    <h3>iPhone 14</h3>

    <p class="price">₹ 79999</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>

<div class="product-card">

    <img src="ac.png" alt="iPhone" />

    <h3>AC</h3>

    <p class="price">₹ 9999</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>

    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>

<div class="product-card">

    <img src="bottle.png" alt="iPhone" />

    <h3>Wine</h3>

    <p class="price">₹ 1372</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>

<div class="product-card">

    <img src="Full shirts.png" alt="iPhone" />

    <h3>Shirts</h3>

    <p class="price">₹ 682</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>
<div class="product-card">

    <img src="house.png" alt="iPhone" />

    <h3>House</h3>

    <p class="price">₹ 1109999</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>
<div class="product-card">

    <img src="jeans.png" alt="iPhone" />

    <h3>Jeans</h3>

    <p class="price">₹1195</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>
<div class="product-card">

    <img src="Shoes.png" alt="iPhone" />

    <h3>Shoes</h3>

    <p class="price">₹ 1499</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>

<div class="product-card">

    <img src="trimmer.png" alt="iPhone" />

    <h3>trimmer</h3>

    <p class="price">₹ 674</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>
<div class="product-card">

    <img src="Tshirts y.png" alt="iPhone" />

    <h3>Tshirts</h3>

    <p class="price">₹ 843</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>
<div class="product-card">

    <img src="apple ph.png" alt="iPhone" />

    <h3>iPhone 14</h3>

    <p class="price">₹ 79999</p>

    <!-- Add to Cart -->
    <form action="/add-to-cart" method="POST">
        <button>Add to Cart</button>
    </form>

    <!-- Buy Now -->
    <form action="/buy" method="POST">
        <button class="buy">Buy Now</button>
    </form>

</div>

    </div>

</div>

</body>
</html>